In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
colors = sns.color_palette('viridis')

import numpy as np
np.set_printoptions(suppress=True)

from pyspark import SparkContext
from table import Table

# start spark with 1 worker thread
sc = SparkContext("local[*]")
sc.setLogLevel("ERROR")

21/11/23 14:21:46 WARN Utils: Your hostname, pasokon resolves to a loopback address: 127.0.1.1; using 192.168.1.96 instead (on interface wlo1)
21/11/23 14:21:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/william/.local/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/11/23 14:21:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/11/23 14:21:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## study of scaling

hypothesis: the `event_type` field in *`machine_events`*
* *ADD (0)*: a machine became available to the cluster - all machines in the trace will have an ADD event.
* *REMOVE (1)*: a machine was removed from the cluster. Removals can occur due to failures or maintenance.
* *UPDATE (2)*: a machine available to the cluster had its available resources changed.

In [10]:
me = Table('machine_events', sc)
me.pprint(5)

,time,machine_id,event_type,platform_id,cpus,memory
0,0,5,0,HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=,0.5,0.2493
1,0,6,0,HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=,0.5,0.2493
2,0,7,0,HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=,0.5,0.2493
3,0,10,0,HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=,0.5,0.2493
4,0,13,0,HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=,0.5,0.2493

In [5]:
#machine_events RDD
me_rdd = me.select(['machine_id','event_type']).map(lambda x: (int(x[0]), int(x[1])))
me_rdd.take(5)

[(5, 0), (6, 0), (7, 0), (10, 0), (13, 0)]

In [48]:
import re
zeroone = me_rdd.groupByKey().mapValues(list)\
      .sortBy(lambda x: len(x[1]), ascending=False)\
      .mapValues(lambda x: ''.join(str(y) for y in x))\
      .filter(lambda x: (re.match(r'^(01)*[01]?$', x[1])))

In [50]:
weird_machine = [x for x in zeroone.map(lambda x: x[0]).collect()]
len(weird_machine)

11315

In [12]:
je = Table('job_events', sc)
je.pprint(5)

,time,missing_info,job_id,event_type,user,scheduling_class,job_name,logical_job_name
0,0,NA,3418309,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,IHgtoxEBuUTHNbUeVs4hzptMY4n8rZKLbZg+Jh5fNG4=,wAmgn2H74cdoMuSFwJF3NaUEaudVBTZ0/HaNZBwIpEQ=
1,0,NA,3418314,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,L52XDyhi9x9ChmVBZ1qavOFmnzPeVsvQ2QyGmBZcV4s=,ShNjeaoUeqGV2i9WMKEX9HTeuc9K2Fdfovibt7Mp6qI=
2,0,NA,3418319,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,vq0IN3BWEbkDjYgYvkrVyH6OWoUoDwFFf3j/syEZzLA=,1A2GM17AzHRcKJcJet/oIF7FOORyFcAOcUSpR9Fqou8=
3,0,NA,3418324,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,X+Vce15Yu3BCKb7Ttc6hvINAzdfG3NtYEDNNsPdMGKo=,seczVo7MBfi/kH3+eH/40Hxs0l2YKFtXFnamcvMjSQI=
4,0,NA,3418329,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,EeK3DUWYi1P0vgBTp7wZdUos8UKj/+/FqudTLohMQ9M=,OEeQsaVr4kdGHFwQ2liQlDZ18529HEMmu6B6/3K1cBA=

In [13]:
te = Table('task_events', sc)
te.pprint(5)

,time,missing_info,job_id,task_index,machine_id,event_type,user,scheduling_class,priority,cpu_request,memory_request,disk_space_request,different_machines_restriction
0,0,2,3418309,0,4155527081,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,NA,NA,NA,NA
1,0,2,3418309,1,329150663,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,NA,NA,NA,NA
2,0,NA,3418314,0,3938719206,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,0.125,0.07446,0.0004244,0
3,0,NA,3418314,1,351618647,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,0.125,0.07446,0.0004244,0
4,0,2,3418319,0,431052910,0,70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=,3,9,NA,NA,NA,NA

In [51]:
te.rdd.filter(lambda x: x[4] in weird_machine).collect()

[]

In [52]:
machine_with_task = me_rdd.groupByKey().mapValues(list)\
      .sortBy(lambda x: len(x[1]), ascending=False)\
      .mapValues(lambda x: ''.join(str(y) for y in x))\
      .filter(lambda x: not(re.match(r'^(01)*[01]?$', x[1])))

In [53]:
machine_with_task.take(5)

[(659891268, '022222222222210222222222222102101010102222210210222210222'),
 (539194189, '0222222222222221022222222222222210222222210222222222222'),
 (1119618555, '022210222222222222222222222222222222102222222221022222'),
 (2677758779, '02222222221022222222210222222222222221022222221022222'),
 (1436690428, '02210222222222102222102222210221022102210222222')]